{% include 'overall_header.html' %}

<h1>{{ lang('ACP_STUDIO_TF_KEYWORDS') }}</h1>

{% if TF_OVERVIEW %}
	<fieldset class="quick">
		<a class="button1" href="{{ U_ADD }}">{{ lang('ADD') }}</a>
	</fieldset>

	<table class="table1 zebra-table responsive">
		<thead>
			<tr>
				<th>{{ lang('ACP_STUDIO_TF_KEYWORD') }}</th>
				<th>{{ lang('VALUE') }}</th>
				<th class="actions"></th>
			</tr>
		</thead>
		<tbody>
			{% for row in TF_KEYWORDS %}
				<tr>
					<td>{{ row.keyword }}</td>
					<td>{{ row.value }}</td>
					<td class="actions">
						<a href="{{ U_EDIT ~ row.keyword_id }}" title="{{ lang('EDIT') }}">{{ ICON_EDIT }}</a>
						<a href="{{ U_DELETE ~ row.keyword_id }}" title="{{ lang('DELETE') }}" data-ajax="row_delete">{{ ICON_DELETE }}</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td class="centered-text error" colspan="3">{{ lang('ACP_NO_ITEMS') }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<form id="tf_keywords" name="tf_keywords" method="post" action="{{ U_ACTION }}">
		<fieldset>
			<dl>
				<dt><label for="keyword">{{ lang('ACP_STUDIO_TF_KEYWORD') ~ lang('COLON') }}</label></dt>
				<dd><input class="full" id="keyword" name="keyword" value="{{ TF_KEYWORD }}" minlength="3" maxlength="255"></dd>
			</dl>
			<dl>
				<dt><label for="value">{{ lang('VALUE') ~ lang('COLON') }}</label></dt>
				<dd><input class="full" id="value" name="value" value="{{ TF_VALUE }}" maxlength="255"></dd>
			</dl>
		</fieldset>

		<fieldset>
			<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>

			<p class="submit-buttons">
				{{ S_FORM_TOKEN }}
				<input class="button1" id="submit" name="submit" type="submit" value="{{ lang('SUBMIT') }}">
				&nbsp;
				<input class="button2" id="reset" name="reset" type="reset" value="{{ lang('RESET') }}">
			</p>
		</fieldset>
	</form>
{% endif %}

{% include 'overall_footer.html' %}
